# Exercise 1.3 | Timeseries

This exercise demonstrates how to:
1) Create line plots to visualize trends over time
2) Transform nominal prices to real prices (inflation adjustment)
3) Create multi-boxplots to examine seasonality

In [20]:
# Imports
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# File Path
file_path = 'https://tayweid.github.io/econ-0150/parts/part-1-3/data/'

## Line Plots

Use line plots to visualize how coffee prices change over time.

In [21]:
# Load coffee prices data
prices = pd.read_csv(file_path + 'Monthly_Coffee_Prices.csv', index_col=0)
prices['date'] = pd.to_datetime(prices['date'], format='%Y-%m')
prices.head()

        date     price      month  year
0 1973-08-01  0.654840     August  1973
1 1973-09-01  0.652700  September  1973
2 1973-10-01  0.659552    October  1973
3 1973-11-01  0.646810   November  1973
4 1973-12-01  0.670937   December  1973

## Real Price Conversion

In [26]:
cpi = pd.read_csv(file_path + 'Coffee_Prices_CPI.csv', index_col=0)
cpi['date'] = pd.to_datetime(cpi['date'], format='%m/%d/%y')
cpi.head()

        date   price date_column  year     today   cpi
0 1973-08-20  0.6735  1973-08-20  1973  0.141221  44.4
1 1973-08-21  0.6710  1973-08-21  1973  0.141221  44.4
2 1973-08-22  0.6580  1973-08-22  1973  0.141221  44.4
3 1973-08-23  0.6675  1973-08-23  1973  0.141221  44.4
4 1973-08-24  0.6660  1973-08-24  1973  0.141221  44.4

In [27]:
cpi['real_price'] = cpi['price'] / cpi['today']

## Multi-Boxplots for Seasonality

Use multi-boxplots to compare the distribution of coffee prices across months.

In [33]:
# Load coffee prices and add month names
prices = pd.read_csv(file_path + 'Monthly_Coffee_Prices.csv', index_col=0)
prices['date'] = pd.to_datetime(prices['date'], format='%Y-%m')
prices.head()

        date     price      month  year
0 1973-08-01  0.654840     August  1973
1 1973-09-01  0.652700  September  1973
2 1973-10-01  0.659552    October  1973
3 1973-11-01  0.646810   November  1973
4 1973-12-01  0.670937   December  1973