# Homework 2.3

*Homework is designed to both test your knowlege and challenge you to apply familiar concepts to new applications. Answer clearly and completely. You are welcomed and encouraged to work in groups so long as your work is your own. Submit your figures and answers to [Gradescope](https://www.gradescope.com).*

In [1]:
# Imports
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

# File Path
file_path = 'https://tayweid.github.io/econ-0150/parts/part-2-3/data/'

## Q1. Amazon Book Sales

We'll explore the list of 50 bestselling Amazon books each year between 2009 and 2021. Prices are expressed in US dollars and rounded to the nearest dollar.

In [3]:
books = pd.read_csv(file_path + 'amazon_book_sales.csv', index_col=0)
books.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre,Median_Price
0,"Act Like a Lady, Think Like a Man: What Men Re...",Steve Harvey,4.6,5013,17,2009,Non Fiction,12.0
1,Arguing with Idiots: How to Stop Small Minds a...,Glenn Beck,4.6,798,5,2009,Non Fiction,12.0
2,"Breaking Dawn (The Twilight Saga, Book 4)",Stephenie Meyer,4.6,9769,13,2009,Fiction,12.0
3,Crazy Love: Overwhelmed by a Relentless God,Francis Chan,4.7,1542,14,2009,Non Fiction,12.0
4,Dead And Gone: A Sookie Stackhouse Novel (Sook...,Charlaine Harris,4.6,1541,4,2009,Fiction,12.0

#### a) Who collected this data?

#### b) How many bestsellers are fiction books?

#### c) How many nonfiction bestsellers cost more than 50 dollars?

#### d) How many bestsellers from after 2015 didn't cost anything?

## Q2. Filtering Marriage Rates

The following questions are based on **crude marriage rates** — numbers of marriages per one thousand inhabitants — in 1990 and 2019. Each row represents a different European country.

In [5]:
marriage = pd.read_csv(file_path + 'marriage_rates.csv')
marriage.head()

  GEO (Labels)  1990  2019
0      Belgium   6.5   3.9
1     Bulgaria   6.9   4.2
2      Czechia   8.8   5.1
3      Denmark   6.1   5.3
4      Germany   6.6   5.0

#### a) Who collected the data in this dataset?

#### b) How was the data collected?

#### c) How many countries in this dataset experienced an increase in their marriage rates between 1990 and 2019?

In [ ]:
recent_rate[(recent_rate.Continent == 'Africa')]

In [ ]:
recent_rate[(recent_rate.Continent == 'Africa') & (recent_rate['Marriage Rate'] < 2)]

In [ ]:
recent_rate[(recent_rate['Marriage Rate'] > 20) | (recent_rate['Marriage Rate'] < 1)]

In [ ]:
recent_rate[(recent_rate.Continent == 'Oceania') & (recent_rate['Marriage Rate'] > 10)]

#### d) Use a scatterplot to visualize the change in marriage rates between 1990 and 2019?