# Exercise 2.2 | Numerical Variables by Category

In this exercise, we'll explore how Starbucks customers respond to different promotional offers. The data contains customer interactions with various discount structures (BOGO, $2 off $10, $5 off $20, etc.).

**Key Question:** How does the incentive structure affect buying behavior?

In [1]:
# Imports
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# Load Data
file_path = 'https://tayweid.github.io/econ-0150/parts/part-2-2/data/'
data = pd.read_csv(file_path + 'Starbucks_Promos.csv', index_col=0)
data.head()

         Event  Revenue Offer ID
0  transaction    34.56   2off10
1  transaction    18.97   2off10
2  transaction    33.90   Bogo 5
3  transaction    18.01  Bogo 10
4  transaction    19.11  Bogo 10

## Revenue by Offer Type

Use one of our existing tools to visualize revenue by cateogry to answer whether Bogo 5 or Bogo 10 has higher average spending.

## Log Transform for Skewed Data

When data is heavily skewed, a log transformation can help us see the distribution better. We'll use log base 2, where each unit represents a **doubling** of spending.

- log2(1+$7) = 3
- log2(1+$15) = 4  
- log2(1+$31) = 5

## Log Revenue by Offer Type

Create a boxplot with the log-transformed variable to better see the distribution.

Use `log2_Revenue` instead of `Revenue` on the y-axis.

## Investigate the Data

Count the unique values in the `Event` column to understand what's causing the zeros. Use `.value_counts()` to see how many of each event type we have.

## Filter for Transactions

Keep only rows where `Event` equals `'transaction'` to focus on actual purchases. Create a new dataframe called `transactions` with only the transaction rows.

## Visualize Filtered Data

Use the filtered `transactions` dataframe.

## Grouped Statistics

Calculate the mean, standard deviation, and count of log revenue by offer type. Use `.groupby()` and `.agg()` to compute multiple statistics at once.

## Compare Two Offers

Filter for just Bogo 5 and Bogo 10, then create a boxplot to compare them. Use `.isin()` to filter for multiple values.