# Exercise 1.0 | Variable Types

Determine which variable types are contained in each dataset.

In [1]:
# Imports
import pandas as pd
import matplotlib.pyplot as plt
file_path = 'data/'

## Load unemployment_status.csv

In [2]:
unemployment = pd.read_csv(file_path + 'unemployment_status.csv')

In [3]:
unemployment['Employment Status'].value_counts()

Employment Status
Employed      51
Unemployed    49
Name: count, dtype: int64

## Load employment_sector.csv

In [13]:
sector = pd.read_csv(file_path + 'employment_sector.csv')

In [15]:
sector['Sector'].value_counts()

Sector
Services         37
Unemployed       22
Manufacturing    21
Agriculture      20
Name: count, dtype: int64

## Load economic_optimism.csv

In [21]:
optimism = pd.read_csv(file_path + 'economic_optimism.csv')

In [29]:
optimism['Economic Optimism'].value_counts()

Economic Optimism
Very Pessimistic        23
Somewhat Pessimistic    23
Neutral                 19
Somewhat Optimistic     19
Very Optimistic         16
Name: count, dtype: int64

## Load household_size.csv

In [30]:
size = pd.read_csv(file_path + 'household_size.csv')

In [32]:
size['Number of Children'].value_counts()

Number of Children
3    21
1    20
0    17
4    15
2    14
5    13
Name: count, dtype: int64

## Load household_income.csv

In [34]:
income = pd.read_csv(file_path + 'household_income.csv')

In [35]:
income

   Household ID  Household Income (USD)
0          C001               109879.71
1          C002                82496.44
2          C003                89562.91
3          C004                41550.11
4          C005                51284.65
..          ...                     ...
95         C096               104541.31
96         C097                56688.37
97         C098                47481.71
98         C099                61383.49
99         C100               106305.30

[100 rows x 2 columns]