# Databases and SQL
---

Here I've taken a number of things from the *Data Basics* course for Python, which I'm going to go over at an accelerated pace.

We'll look at a contrived relational database through the package SQLite, and show how we can engage with this using Python. (Database example taken from [here](https://swcarpentry.github.io/sql-novice-survey/) which has some additional content on using [Python to write to the database too](https://swcarpentry.github.io/sql-novice-survey/10-prog/index.html))

If you get more into SQL and databases you should also maybe go through [this tutorial](https://www.pythoncentral.io/introductory-tutorial-python-sqlalchemy/) on SQLalchemy.

On the other side of things, you can also play around with the data and queries in a more concrete way with an [SQLite data browser](https://sqlitebrowser.org/)

## Simple Examples with the SQLite Command Prompt
---
An example database about *Lovecraft-y* things is contained in `survey.db`

Three common options for storage are text files, spreadsheets, and databases. 
* Text files are easiest to create, and work well with version control, but then we would have to build search and analysis tools ourselves. 
* Spreadsheets are good for doing simple analyses, but they don't handle large or complex data sets well. 
* Databases, however, include powerful tools for search and analysis, and can handle large, complex data sets.

The database consist of 4 **Tables** where the data are stored:

| Table Name | Data Inside It |
| ---- | ---- |
| *Person* | names of the researchers |
| *Site* | the  sites research was conducted in |
|  *Survey* | the research measurements taken |
| *Visited* | Trips made to sites |

![The survey.db database structure](https://swcarpentry.github.io/sql-novice-survey/fig/sql-join-structure.svg)

There are multiple ways to look at this database. 

#### Via SQLite 
One way is via a terminal if you're on Linux you could open the database in SQLite with:

```sqlite3 survey.db```

and then run queries like this on it:

```SELECT * FROM Person;```

To make it more readable in the database program we could run:
```
.mode column
.header on
```

and then re-run our query.

#### Via Python:
We can also load in a library in Python to directly talk to the SQLite program:

In [ ]:
import sqlite3
import pandas as pd

# Pitt colors for styling
PITT_BLUE = "#003594"
PITT_GOLD = "#FFB81C"

# Make the connection using sqlite3
conn = sqlite3.connect("survey.db")

We can then use this to run queries like the above, and collect the output!

In [ ]:
pd.read_sql_query("SELECT * FROM Person", conn)

## Database contents
---

First, let's look at the `sqlite_master` table, which will tell us what data tables exists in the database:

In [ ]:
pd.read_sql_query('SELECT name from sqlite_master where type= "table"', conn)

So, let's display the entirety of the content of each table:

#### Person Table:

In [ ]:
pd.read_sql_query('SELECT * FROM Person', conn)

#### Site Table:

In [ ]:
pd.read_sql_query('SELECT * FROM site', conn)

#### Survey Table:

In [ ]:
pd.read_sql_query('SELECT * FROM survey', conn)

#### Visited Table:

In [ ]:
pd.read_sql_query('SELECT * FROM visited', conn)

Once we're done with our active connection (called `conn` in the Python code) to the database, we should close it, as many databases will have lots of active users connected and manipulating the data. 

We do this in two stages:
* **Commit**: write any changes we made to the database
* **Close** : drop our open connection:

In [ ]:
# conn.commit()  # if write statements
# Close the database connection
conn.close()

## SQL Statements Overview
---
`SELECT` &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; [`DISTINCT` | `ALL`] attribute-list

`FROM` &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; table-list

`WHERE` &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;selection-condition

`GROUP BY` &nbsp; grouping-attribute(s)

`HAVING` &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; grouping-condition

`ORDER BY` &nbsp;&nbsp; {attribute `ASC` | `DESC`} pairs

Reopen the connection...

In [ ]:
conn = sqlite3.connect("survey.db")

## Selecting Data
---
For now, let's write an SQL query that displays scientists' names. We do this using the SQL command **`SELECT`**, giving it the names of the columns we want and the table we want them from. Our query and its output look like this:

In [ ]:
query = "SELECT  family, personal  FROM   Person;"
pd.read_sql_query(query, conn)

* If you were using a command line interface for the database, you would use a semicolon at the end of the query tells the database manager that the query instructions are complete and ready to run.
* Pandas is a little more forgiving on this.

Also, nothing in the query is really case sensitive...

In [ ]:
query = "SeLeCt FaMiLy, PeRsOnAl FrOm PeRsOn"
pd.read_sql_query(query, conn)

In [ ]:
conn.close()