# ECON 0150 | Spring 2025 | Homework 4.4

### Due: 

Homework is designed to both test your knowledge and challenge you to apply familiar concepts in new applications. Answer clearly and completely. You are welcomed and encouraged to work in groups so long as your work is your own. Use the provided datasets to answer the following questions. Then submit your figures and answers to Gradescope.

In [1]:
# Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
# Load Data
BRFSS_cleaned = pd.read_csv('data/BRFSS_cleaned.csv')

In [3]:
BRFSS_cleaned

,GEOID,AGE,INCOME2,MENTHLTH,county_name,unemployment_rate,Year,College,Married,Female,BMI5
0,1073,48.0,8.0,0.0,"Jefferson County, Alabama",9.3,2011,1,1.0,1,23.40
1,1073,34.0,7.0,0.0,"Jefferson County, Alabama",9.3,2011,1,0.0,0,30.13
2,1073,75.0,6.0,0.0,"Jefferson County, Alabama",9.3,2011,0,1.0,1,29.18
3,1073,60.0,4.0,5.0,"Jefferson County, Alabama",9.3,2011,1,1.0,0,32.02
4,1073,78.0,1.0,0.0,"Jefferson County, Alabama",9.3,2011,0,0.0,1,24.02
...,...,...,...,...,...,...,...,...,...,...,...
243397,56025,22.0,6.0,3.0,"Natrona County, Wyoming",5.1,2011,1,0.0,1,24.28
243398,56025,39.0,7.0,0.0,"Natrona County, Wyoming",5.1,2011,0,1.0,1,22.05
243399,56025,28.0,7.0,0.0,"Natrona County, Wyoming",5.1,2011,1,1.0,1,27.46
243400,56025,47.0,NaN,0.0,"Natrona County, Wyoming",5.1,2011,0,0.0,1,25.84
243401,56025,25.0,1.0,22.0,"Natrona County, Wyoming",5.1,2011,1,0.0,0,NaN

#### Q1. Social Media and Mental Health

A (fictional) economist studied the relationship between social media usage, mental health, and academic performance among college students. A regression using data from 150 students used `academic_score` as the outcome variable and produced the following (fictional) results:

**Regression of Academic Score on Social Media, Mental Health, and First-Generation Status**

| Variable | coef | std err | t | P>|t| | [0.025 | 0.975] |
|----------|------|---------|---|-------|--------|---------|
| const | 82.4516 | 2.631 | 31.338 | 0.000 | 77.256 | 87.647 |
| social_media_hrs | -0.9237 | 0.192 | -4.810 | 0.031 | -1.303 | -0.544 |
| mental_health_score | 0.6382 | 0.145 | 4.401 | 0.300 | 0.352 | 0.925 |
| first_gen_student | -4.1265 | 1.754 | -2.353 | 0.020 | -7.592 | -0.661 |

Where:

- `academic_score` is the student's overall GPA on a 0–100 scale
- `social_media_hrs` is the average daily hours spent on social media
- `mental_health_score` is a validated mental wellness score (0–50, higher is better)
- `first_gen_student` is a binary indicator (1 if first-generation college student, 0 otherwise)

a) Interpret the coefficient on `social_media_hrs`. How is academic performance associated with each additional hour spent on social media?

b) Use one sentence to interpret the p-value on `social_media_hrs`.

c) Use one sentence to interpret the coefficient on `mental_health_score`. What does the coefficient tell us about the relationship between mental health and academic performance?

d) Use one sentence to interpret the p-value on `mental_health_score`.