# Exercise 4.4 | The Problem of Timeseries

Timeseries often suffers from the problem of autocorrelation.

In [2]:
# Imports
import pandas as pd
import statsmodels.formula.api as smf
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# File Path
file_path = 'https://tayweid.github.io/econ-0150/parts/part-4-4/data/'
file_path = 'data/'

In [3]:
data = pd.read_csv(file_path + 'okun.csv', index_col=0)
data

,observation_date,gdp,unemployment,quarter,year,time,time_base,unemployment_diff,gdp_diff,gdp_growth
1,1948-04-01,2276.690,3.9,2,1948,1948.50,0.50,0.5,37.008,1.652377
2,1948-07-01,2289.770,3.6,3,1948,1948.75,0.75,-0.3,13.080,0.574518
3,1948-10-01,2292.364,3.7,4,1948,1949.00,1.00,0.1,2.594,0.113286
4,1949-01-01,2260.807,4.3,1,1949,1949.25,1.25,0.6,-31.557,-1.376614
5,1949-04-01,2253.128,5.3,2,1949,1949.50,1.50,1.0,-7.679,-0.339657
...,...,...,...,...,...,...,...,...,...,...
283,2018-10-01,20304.874,3.8,4,2018,2019.00,71.00,0.0,28.720,0.141644
284,2019-01-01,20431.641,4.0,1,2019,2019.25,71.25,0.2,126.767,0.624318
285,2019-04-01,20602.275,3.7,2,2019,2019.50,71.50,-0.3,170.634,0.835146
286,2019-07-01,20843.322,3.7,3,2019,2019.75,71.75,0.0,241.047,1.170002
287,2019-10-01,20985.448,3.6,4,2019,2020.00,72.00,-0.1,142.126,0.681878

#### Model 1 | Levels

In [5]:
# Step 1. Fit the levels model
model1 = smf.ols('gdp ~ unemployment', data=data).fit()
print(model1.summary().tables[1])

================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
Intercept     6707.7410   1179.511      5.687      0.000    4386.083    9029.399
unemployment   479.6492    197.436      2.429      0.016      91.032     868.266
================================================================================

#### Model 2 | First Differences (Y)

In [6]:
# Step 1. Create first differences variables
data['gdp_diff'] = data['gdp'].diff()
data['unemployment_diff'] = data['unemployment'].diff()

In [8]:
# Step 2. Drop the first row which has NaN due to differencing
data = data.dropna()

In [9]:
# Step 3. Fit the differences model
model2 = smf.ols('gdp_diff ~ unemployment_diff', data=data).fit()
print(model2.summary().tables[1])

=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept            65.3315      3.964     16.481      0.000      57.529      73.134
unemployment_diff   -79.8068      9.331     -8.552      0.000     -98.174     -61.439
=====================================================================================

#### Model 3 | First Differences (X, Y)